<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!-- Primary Meta Tags -->
    <title>Griffin Dow</title>
    <meta name="title" content="Griffin Dow" />
    <meta
      name="description"
      content="Furry. Coder. Mostly quiet. I build because I care — about freedom, beauty, and the people behind the art."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://griffindow.com/" />
    <meta property="og:title" content="Griffin Dow" />
    <meta
      property="og:description"
      content="Furry. Coder. Mostly quiet. I build because I care — about freedom, beauty, and the people behind the art."
    />
    <meta property="og:image" content="https://griffindow.com/favicon.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content="https://griffindow.com/" />
    <meta property="twitter:title" content="Griffin Dow" />
    <meta
      property="twitter:description"
      content="Furry. Coder. Mostly quiet. I build because I care — about freedom, beauty, and the people behind the art."
    />
    <meta
      property="twitter:image"
      content="https://griffindow.com/favicon.png"
    />

    <!-- Meta Tags Generated with https://metatags.io -->
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
</style>
